{% comment %}
  Render firmless section

  Accepts:
  - level: {number} firmless level

  Usage:
  {% render 'firmless', level: level %}
{% endcomment %}
<div>
  <h2>How Does Maple Mattress Feel?</h2>
  {{- 'firmless-level.svg' | inline_asset_content -}}
  <div class="flex justify-evenly">
    <b>Soft</b>
    <b>Medium</b>
    <b>Firm</b>
  </div>
  <p>
    The Maple foam mattress series, available in medium-firm and firm options, features high-density, high-resilience,
    and memory foam layers for contouring comfort, pressure relief, and lasting support. Perfect for couples and all
    sleeping styles, ensuring you wake up refreshed and energized every day.
  </p>
</div>
