{% comment %}
  Render firmless section

  Accepts:
  - level: {number} firmless level

  Usage:
  {% render 'firmless', level: level, product: product %}
{% endcomment %}
<div>
  <p>
    {{ product.description }}
  </p>
</div>
