{% comment %}
  Render firmless section

  Accepts:
  - level: {number} firmless level

  Usage:
  {% render 'firmless', level: level, product: product %}
{% endcomment %}
<div>
  <h2>How Does Maple Mattress Feel?</h2>
  {{- 'firmless-level.svg' | inline_asset_content -}}
  <div class="flex justify-evenly">
    <b>Soft</b>
    <b>Medium</b>
    <b>Firm</b>
  </div>
  <p>
    {{product.description}}
  </p>
</div>
