{% assign free_gifts = product.metafields.custom.free_gifts.value %}
{% if free_gifts %}
  <section class="gift-card-section">
    <h2>Free Gift</h2>
    <div class="gift-card-list">
      {% for product in free_gifts.gift_products.value %}
        <div class="gift-card-item" data-freegift-id="{{ product.variants[0].id }}">
          <a href="{{ product.url }}">
            {{
              product.images[0]
              | image_url: width: 110
              | image_tag: class: 'header__heading-logo', alt: product.title, preload: true
            }}
            <h3>{{ product.title }}</h3>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
  <style>
    .gift-card-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    .gift-card-item {
      flex: 1 1 calc(33.333% - 20px);
      text-align: center;
    }
    .gift-card-item img {
      max-width: 100%;
      height: auto;
    }
  </style>
{% endif %}
