<style>
  .layer-heading {
    font-size: 30px;
    color: #272c48;
    text-align: center;
    font-weight: bold;
  }
  #layer-image-container {
    position: relative;
  }
  .layer-point {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    line-height: 10px;
    border: 1px solid;
    cursor: pointer;
  }
  .layer-point.active {
    display: block;
    background-color: #fa522d;
    color: white;
  }
  .layer-items {
    padding: 5rem;
  }
  .layer-item {
    margin-bottom: 10px;
    column-gap: 10px;
  }
  .layer-title {
    margin: 0;
    font-weight: 400;
    color: #343a40;
    font-size: 20px;
  }
</style>

{% assign layerItems = product.metafields.custom.mattress_layer_specs.value %}
{% assign layer_image = product.metafields.custom.construction_materials %}

<div class="page-width scroll-trigger animate--slide-in">
  <h2 class="layer-heading">Engineered for Lasting Comfort</h2>
  <div class="grid grid--1-col-tablet-down grid--2-col-desktop">
    <div id="layer-image-container" class="grid__item">
      {{ layer_image.value | image_url: width: 600 | image_tag: class: 'motion-reduce w-full', preload: true }}
    </div>
    <div class="layer-items grid__item">
      {% for layerItem in layerItems %}
        <div class="layer-item flex">
          <div>
            <div class="layer-point active"></div>
          </div>
          <h5 class="layer-title">{{ layerItem }}</h5>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    const layerPoints = document.querySelectorAll('.layer-point');

    layerPoints.forEach((point) => {
      point.addEventListener('click', function () {
        layerPoints.forEach((point) => {
          point.classList.remove('active');
        });

        const id = this.innerText;
        document.querySelector(`#layer-point${id}`).classList.add('active');
        document.querySelector(`#layer-item${id}`).classList.add('active');

        document.querySelectorAll('.layer-desc').forEach((desc) => desc.classList.remove('block'));
        document.querySelector(`#layer-desc${id}`).classList.add('block');
      });
    });
  });
</script>
