{{ 'section-icon-row.css' | asset_url | stylesheet_tag }}

<div class="icon-row">
  <div class="icon-row__container page-width">
    {% assign icons = 'sleep,warranty,shipping,maple' | split: ',' %}
    {% assign icon_names = 'something,100-Night Trial,10-Year Warranty,Free Shipping,Made in Canada' | split: ',' %}
    {%- for icon in icons -%}
      <div class="icon-item">
        <div class="icon-item__icon">
          {%- case icon -%}
            {%- when 'sleep' -%}
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
                <g id="night_time" data-name="night time" transform="translate(-1.988 -2.006)">
                  <path id="Path_55" data-name="Path 55" d="M46.522,32.172a1.606,1.606,0,0,0-1.863-.289A20.478,20.478,0,0,1,17.108,4.326a1.607,1.607,0,0,0-2.153-2.153A23.7,23.7,0,1,0,46.811,34.036,1.607,1.607,0,0,0,46.522,32.172ZM42.169,14.851H37.349a1.607,1.607,0,0,1-1.285-2.571l2.892-3.856H37.349a1.607,1.607,0,0,1,0-3.214h4.819a1.607,1.607,0,0,1,1.285,2.571l-2.892,3.856h1.606a1.607,1.607,0,0,1,0,3.214Z" transform="translate(0 0)" fill="#f9522e"/>
                  <path id="Path_56" data-name="Path 56" d="M23.314,21.97H17.828a1.783,1.783,0,0,1-1.463-2.834l3.291-4.48H17.828a1.828,1.828,0,1,1,0-3.657h5.485a1.828,1.828,0,0,1,1.463,2.925l-3.291,4.388h1.828a1.828,1.828,0,1,1,0,3.657Z" transform="translate(7.822 4.914)" fill="#f9522e"/>
                </g>
              </svg>
            {%- when 'warranty' -%}
              <svg xmlns="http://www.w3.org/2000/svg" width="45.419" height="45" viewBox="0 0 45.419 45">
                <path id="Path_193" data-name="Path 193" d="M368.324,348.252a8.942,8.942,0,0,0-3.054-5.289,5.073,5.073,0,0,1-1.733-3,8.929,8.929,0,0,0-8.793-7.378,5.074,5.074,0,0,1-3.256-1.185,8.928,8.928,0,0,0-11.478,0,5.073,5.073,0,0,1-3.256,1.185,8.929,8.929,0,0,0-8.793,7.378,5.073,5.073,0,0,1-1.733,3,8.928,8.928,0,0,0-1.993,11.3,5.074,5.074,0,0,1,.6,3.412,8.929,8.929,0,0,0,5.739,9.94,5.073,5.073,0,0,1,2.654,2.227,8.928,8.928,0,0,0,10.786,3.926,5.074,5.074,0,0,1,3.465,0,8.928,8.928,0,0,0,10.786-3.926,5.073,5.073,0,0,1,2.654-2.227,8.929,8.929,0,0,0,5.739-9.94,5.073,5.073,0,0,1,.6-3.412,8.945,8.945,0,0,0,1.061-6.015Zm-13.418.761-9.581,9.466a2.34,2.34,0,0,1-3.282,0l-4.506-4.453a2.274,2.274,0,0,1,0-3.243,2.341,2.341,0,0,1,3.282,0l2.865,2.831,7.94-7.845a2.341,2.341,0,0,1,3.282,0,2.274,2.274,0,0,1,0,3.243Z" transform="translate(-323.04 -329.31)" fill="#f9522e"/>
              </svg>
            {%- when 'shipping' -%}
              <svg xmlns="http://www.w3.org/2000/svg" width="56.375" height="41" viewBox="0 0 56.375 41">
                <path id="Icon_material-local-shipping" data-name="Icon material-local-shipping" d="M50.188,16.25H42.5V6H6.625A5.14,5.14,0,0,0,1.5,11.125V39.313H6.625a7.688,7.688,0,0,0,15.375,0H37.375a7.688,7.688,0,0,0,15.375,0h5.125V26.5ZM14.313,43.156a3.844,3.844,0,1,1,3.844-3.844A3.839,3.839,0,0,1,14.313,43.156ZM48.906,20.094,53.929,26.5H42.5V20.094ZM45.063,43.156a3.844,3.844,0,1,1,3.844-3.844A3.839,3.839,0,0,1,45.063,43.156Z" transform="translate(-1.5 -6)" fill="#f9522e"/>
              </svg>
            {%- when 'maple' -%}
              <svg xmlns="http://www.w3.org/2000/svg" width="75" height="41" viewBox="0 0 75 41">
                <g id="Group_98" data-name="Group 98" transform="translate(-322.6 -1305.146)">
                  <path id="Path_13" data-name="Path 13" d="M2.189,16.982,1,17.493s6.971,6.064,7.146,6.231c.347.337.679.507.347,1.518s-.685,2.367-.685,2.367,6.468-1.356,7.155-1.524c.591-.06,1.243.168,1.243.843s-.394,7.607-.394,7.607H17.85s-.394-6.926-.394-7.608.645-.9,1.251-.843c.679.168,7.146,1.524,7.146,1.524s-.34-1.356-.679-2.367,0-1.18.34-1.518c.17-.168,7.146-6.231,7.146-6.231l-1.189-.507c-.679-.331-.5-.776-.34-1.174.164-.512,1.366-4.54,1.366-4.54s-3.241.675-3.92.843c-.509.161-.679-.168-.849-.507s-1.019-2.186-1.019-2.186-3.575,4.041-3.744,4.2c-.679.507-1.366,0-1.2-.675,0-.675,1.875-8.741,1.875-8.741S21.6,5.382,20.918,5.719c-.509.337-.856.337-1.2-.337C19.376,4.877,16.821,0,16.821,0V0S14.274,4.88,13.935,5.386c-.34.673-.679.673-1.2.335-.679-.337-2.726-1.511-2.726-1.511s1.875,8.066,1.875,8.741c.171.676-.509,1.181-1.194.676-.17-.168-3.744-4.2-3.744-4.2S6.1,11.268,5.932,11.6s-.338.668-.849.507c-.685-.168-3.92-.843-3.92-.843s1.2,4.026,1.366,4.54C2.691,16.212,2.866,16.651,2.189,16.982Z" transform="translate(342.959 1307.252)" fill="#f9522e"/>
                  <rect id="Rectangle_96" data-name="Rectangle 96" width="13" height="41" transform="translate(322.6 1305.146)" fill="#f9522e"/>
                  <rect id="Rectangle_97" data-name="Rectangle 97" width="13" height="41" transform="translate(384.6 1305.146)" fill="#f9522e"/>
                </g>
              </svg>
          {%- endcase -%}
        </div>
        <div class="icon-item__text">
          <div class="icon-item__title">
            {{ icon_names[forloop.index] }}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Product Feature",
  "settings": [],
  "blocks": []
}
{% endschema %}
