<style>
  .font-27 {
    font-size: 27px;
  }
  .font-22 {
    font-size: 22px;
  }
  .font-16 {
    font-size: 16px;
  }
  .compare-product {
    position: relative;
  }
  .compare-product img {
    width: 100%;
  }
  .compare-product .tag {
    padding: 2px 10px;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
</style>

<section class="color-scheme-1 page-width isolate scroll-trigger animate--slide-in">
  <h2>Perfect Mattresses for Every Sleeper Plush, Firm, or Extra Firm</h2>
  <p>
    As a proud Canadian mattress manufacturer, we offer the perfect fit for every sleeper. Whether you prefer plush,
    firm, or extra firm, we have the ideal mattress for back, side, and stomach sleepers. Discover comfort made just for
    you!
  </p>
  <div class="grid grid--1-col grid--2-col-tablet">
    {% if section.settings.product1 %}
      {% render 'compare-product', compare_product: section.settings.product1 %}
    {% endif %}

    {% if section.settings.product2 %}
      {% render 'compare-product', compare_product: section.settings.product2 %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Products Compare",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "product",
      "id": "product1",
      "label": "Product1"
    },
    {
      "type": "product",
      "id": "product2",
      "label": "Product2"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    }
  ],
  "presets": [
    {
      "name": "Products Compare"
    }
  ]
}
{% endschema %}
