{{ 'section-products-compare.css' | asset_url | stylesheet_tag }}

<div class="products-compare">
  <div class="section-header text-center">
    <h2 class="section-title">{{ section.settings.title }}</h2>
    <p>{{ section.settings.subtitle }}</p>
    <p>{{ section.settings.description }}</p>
  </div>

  <div class="products-compare__container">
    <div class="products-compare__grid page-width">
      {%- for block in section.blocks -%}
        {% render 'compare-product',
          isPageVersion: section.settings.page_version,
          product: block.settings.product,
          button_label: block.settings.button_label,
          description: block.settings.description,
          show_price: section.settings.show_price,
          show_vendor: section.settings.show_vendor,
          rating: section.settings.rating
        %}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Products Compare",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_version",
      "label": "Page version",
      "default": false
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Perfect Mattresses for Every Sleeper"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Plush, Firm, or Extra Firm"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "As a proud Canadian mattress manufacturer, we offer the perfect fit for every sleeper. Whether you prefer plush, firm, or extra firm, we have the ideal mattress for back, side, and stomach sleepers. Discover comfort made just for you!"
    },
    {
      "type": "text",
      "id": "rating",
      "label": "Rating",
      "default": "4.9"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Shop Now"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Designed for a cloud feel, ideal for those who love sinking into their mattress."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Compare",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
